<header>
  <div class="contenedor">
    <nav>
      <a href="">Signus</a>
    </nav>

    <div  id="contenedor-btnMenu" class="contenedor-btnMenu">
      <span (click)="openMenu()"  id="menuButton">&#9776;</span>
      <!-- <input type="checkbox" name="btnmenu"  (click)="openMenu()"> -->
    </div>

    <nav id="enlaces" class="uno">
      <a (click)="clickDetected()" routerLink="">Inicio</a>
      <a (click)="clickDetected()" routerLink="nosotros">Nosotros</a>
      <a (click)="clickDetected()" routerLink="contacto">Contáctanos</a>
    </nav>
  </div>
</header>
