footer{
  background-color: #131313;
  /* background-color: rgba(32, 32, 32, 0.8); */
  width: 100%;
  height: auto;

  color: #fff;
}


.container-content{
  width: 80%;
  min-height: 230px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.container-content nav{
  padding: 27px 10px 10px 10px;
}
.container-content nav h3{
  margin-bottom: 10px;
}

.container-extra{
  width: 100%;
  /* border-top: .1px solid rgba(165, 165, 165, 0.7); */
  padding: 15px 20px;
}

.container-extra__content{
  width: 70%;
  margin: 0 auto;
  /* border: 1px solid red; */
}

/* Responsive Design */

/* @media screen and (max-width: 1024px) {  } */

@media screen and (max-width: 768px) {
  .container-content{
    /* border: 1px solid #fff; */
    width: 100%;
    min-height: 230px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

  }

  .container-content nav{
    width: 100%;
    /* border: 1px solid blue; */
  }
}

@media screen and (max-width: 668px) {
  .container-extra__content{
    width: 100%;
  }
}
