<section class="section-main">
  <div class="section-main-container">

    <h2>Investigación y analítica en tu industria</h2>

    <div class="section-main-container__content">
      <div class="contenedor-img">
        <img src="https://img.icons8.com/dotty/80/000000/security-checked.png"/>
      </div>
      <p>Lorem Ipsun</p>
    </div>

    <div class="section-main-container__content">
      <div class="contenedor-img">
        <img src="https://img.icons8.com/dotty/80/000000/face-id.png"/>
      </div>
      <p>Lorem Ipsun</p>
    </div>

    <div class="section-main-container__content">
      <div class="contenedor-img">
        <img src="https://img.icons8.com/dotty/80/000000/fingerprint.png"/>
      </div>
      <p>Lorem Ipsun</p>
    </div>

    <div class="section-main-container__content">
      <div class="contenedor-img">
        <img src="https://img.icons8.com/dotty/80/000000/cloud-firewall.png"/>
      </div>
      <p>Lorem Ipsun</p>
    </div>

  </div>
</section>
